
@charset "utf-8";

/* 마진과 패딩의 초기화 */
body, div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd, em { margin:0px; padding:0px; font-family:'MaplestoryOTFLight','Malgun Gothic',NanumGothic,sans-serif,Arial;  font-size:25px; color:#222; letter-spacing:-0.5px; box-sizing: border-box;}

/* 리스트의 스타일 제거 */
ul, ol, dl { list-style:none; }

/* 헤더 폰트 사이즈 초기화 */
h1,h2,h3,h4,h5,h6 { font-size : 100%; font-weight: normal;}

/* 테이블 스타일 초기화 */
table, th, td { margin:0; padding:0; font-family:'MaplestoryOTFLight','Malgun Gothic',NanumGothic,sans-serif,Arial; border-collapse:collapse; border-spacing:0; color:#222; letter-spacing:-0.5px; font-size:25px; }

/* 폼 초기화 */
select, input, textarea { font:normal 25px 'MaplestoryOTFLight','Malgun Gothic',NanumGothic,sans-serif,Arial; vertical-align:middle; color:#222; letter-spacing:-0.5px; resize: none; box-sizing: border-box;}
input::placeholder { color: #999;}
input:-ms-input-placeholder { color: #999;}

/* 이미지 및 필드셋에서 보더 표시 초기화 */
fieldset, img, input { margin:0; padding:0; border:none; box-sizing: border-box;}
input[type="text"],
input[type="password"] { height: 38px; padding-left: 5px; border: 1px solid #bababa; }
input[type="checkbox"] { width: 25px; height: 25px;}
input[type="radio"] { width: 25px; height: 25px;}
input.tBoxBasic { height: 30px; padding-left: 5px;}
select { min-width: 100px; height: 38px; padding-left: 5px; border: 1px solid #bababa; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../img/ico_selectbox.png) right center no-repeat;}
select::-ms-expand { display: none;}
textarea { width: 100%; padding: 5px; border: 1px solid #bababa;}
select:focus, input:focus, textarea:focus { outline: none;}

/*아이폰 input 테두리, 그림자 제거*/
input {
  /* 삭제한 후 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* 스타일 주면 IOS에서 그림자 사라짐 */
  border:1px solid #dbe0e7;
  
  /* 둥근 테두리 삭제 */
  -webkit-border-radius:0;
}


@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  select, input, textarea { font-size: 25px;}
}

/* 화면상에 보여지지않는 최적화 */
hr {display:none;}
col {background:none;}
label {cursor:pointer;}
legend { position:absolute; width:0; height:0; font-size:0; overflow:hidden; }
#skipNavi,
caption { visibility:hidden; position:absolute; width:0; height:0; font-size:0; overflow:hidden; text-indent:-9999px; line-height:0px; }

/* 폰트 강조 특성 초기화 */
address, caption, cite, code, dfn, em, th, var { font-style : normal; font-weight : normal; }
b { font-family:'MaplestoryOTFBold';}
.fontB { font-family:'MaplestoryOTFBold' !important;}

/* 앵커태그 초기화 */
a { cursor: pointer; box-sizing: border-box; -webkit-user-select: none; -ms-user-select: none;}
a:link, a:active, a:visited { color:#222; text-decoration:none; box-sizing: border-box;}
a:hover { text-decoration:underline; box-sizing: border-box;}

/* layout */
html { overflow-y:auto; width:100%; height:100%; margin:0; padding:0;}
body { width:100%; height:100%;}
html, body { -webkit-text-size-adjust:none;}

/* align */
.alignL { text-align:left !important; }
.alignC { text-align:center !important; }
.alignR { text-align:right !important; }
.floatL { float:left !important; }
.floatR { float:right !important; }
.left10 { padding-left:10px !important; text-align:left !important; }
.left15 { padding-left:15px; text-align:left !important; }
.left20 { padding-left:20px !important; text-align:left !important; }
.right10 { text-align:right !important; padding-right:10px !important; }
.verAlignT { vertical-align:top !important; }
.verAlignM { vertical-align:middle !important; }

/* margin */
.mAuto { margin:0 auto !important; }
.mt0 { margin-top:0px !important; }
.mt2 { margin-top:2px !important; }
.mt5 { margin-top:5px !important; }
.mt8 { margin-top:8px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt25 { margin-top:25px !important; }
.mt30 { margin-top:30px !important; }
.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }
.mt55 { margin-top:55px !important; }
.mt60 { margin-top:60px !important; }
.mt65 { margin-top:65px !important; }
.mt70 { margin-top:70px !important; }

.mr0 { margin-right:0px !important; }
.mr5 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr15 { margin-right:15px !important; }
.mr20 { margin-right:20px !important; }

.ml0 { margin-left:0px !important; }
.ml5 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }

.mb0 { margin-bottom:0px !important;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb20 { margin-bottom:20px !important;}
.mb50 { margin-bottom:50px !important;}
.mb60 { margin-bottom:60px !important;}
.mb70 { margin-bottom:70px !important;}

/* padding */
.pl0 { padding-left:0px !important; }
.pl10 { padding-left:10px !important; }
.pl15 { padding-left:15px !important; }
.pl20 { padding-left:20px !important; }
.pl25 { padding-left:25px !important; }
.pl40 { padding-left:40px !important; }
.pl60 { padding-left:60px !important; }
.pl80 { padding-left:80px !important; }
.pl100 { padding-left:100px !important; }
.pl120 { padding-left:120px !important; }
.pl140 { padding-left:140px !important; }
.pl160 { padding-left:160px !important; }
.pl180 { padding-left:180px !important; }
.pl200 { padding-left:200px !important; }
.pl220 { padding-left:220px !important; }
.pl240 { padding-left:240px !important; }
.pb5 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pt5 { padding-top:5px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pr5 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr30 { padding-right:30px !important; }
.pr40 { padding-right:40px !important; }
.pr50 { padding-right:50px !important; }
.pr60 { padding-right:60px !important; }
.pr70 { padding-right:70px !important; }
.pr80 { padding-right:80px !important; }
.pr90 { padding-right:90px !important; }
.pr100 { padding-right:100px !important; }

.pd5 { padding:5px !important; }
.pd10 { padding:10px !important; }

/* font */
.fontBor { font-weight:bold !important; }
.lh14 { line-height: 14px !important;}
.lh16 { line-height: 16px !important;}
.lh18 { line-height: 18px !important;}
.lh20 { line-height: 20px !important;}

.wid100p { width: 100% !important;}
.wid90p { width: 90% !important;}
.wid80p { width: 80% !important;}
.wid70p { width: 70% !important;}
.wid60p { width: 60% !important;}
.wid50p { width: 50% !important;}
.wid40p { width: 40% !important;}
.wid30p { width: 30% !important;}
.wid20p { width: 20% !important;}
.wid10p { width: 10% !important;}
.wid50 { width: 50px !important;}
.wid100 { width: 100px !important;}
.wid150 { width: 150px !important;}
.wid200 { width: 200px !important;}
.wid250 { width: 250px !important;}
.wid300 { width: 300px !important;}
.wid400 { width: 400px !important;}
.wid500 { width: 500px !important;}
.wid600 { width: 600px !important;}
.wid700 { width: 700px !important;}
.wid800 { width: 800px !important;}
.wid900 { width: 900px !important;}
.wid1000 { width: 1000px !important;}
.wid1100 { width: 1100px !important;}
.wid1200 { width: 1200px !important;}
.wid1300 { width: 1300px !important;}
.wid1400 { width: 1400px !important;}
.wid1500 { width: 1500px !important;}

.hgt680 { height: 680px !important;}
.hgt120 { height: 120px !important;}

